<div class="modal-content">
  <div class="modal-header">
    <h1 class="mt-2">{{title}}<span class="blinking">|</span></h1>
    <button style="color: white;" class='btn close-button close' (click)="closeModal()" type="button" aria-label="Close">
      <fa-icon [icon]="faClose"></fa-icon>
    </button>
  </div>
  <div class="modal-body">
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="proficienciesTab" data-bs-toggle="tab" href="#proficiency" aria-selected="false" role="tab" tabindex="-1"><h3 class="mb-0">Proficiency</h3></a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="attacksTab" data-bs-toggle="tab" href="#attacks" aria-selected="true" role="tab"><h3 class="mb-0">Attacks</h3></a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="languagesTab" data-bs-toggle="tab" href="#languages" aria-selected="false" role="tab"><h3 class="mb-0">Languages</h3></a>
      </li>
    </ul>
    <div id="myTabContent" class="tab-content mb-2">

      <div *ngIf="character" class="tab-pane fade active show" style="position: relative" id="proficiency" role="tabpanel">
        <h4 class="my-2 ps-3 prof-bonus" *ngIf="character">Proficiency Bonus: {{calcProficiencyBonus(character.level)}}</h4>
        <div class="row mx-0 text-center">
          <div class="col-2">
          </div>
          <div class="col-3">
            <h4>Proficiency</h4>
          </div>
          <div class="col-3">
            <h4>Name</h4>
          </div>
          <div class="col-4">
            <h4>Based on Stat</h4>
          </div>
        </div>
        <div class="row py-2 mx-0 text-center proficiency-option" id="proficiency-0">
          <div class="col-2 proficiency-buttons" id="proficiency-button-0">
            <button class="btn btn-sm btn-outline-success prof-increase me-2" (click)="changeProficiency('acrobatics', true)"><fa-icon [icon]="faImprove"></fa-icon></button>
            <button class="btn btn-sm btn-outline-danger prof-decrease" (click)="changeProficiency('acrobatics', false)"><fa-icon [icon]="faWorsen"></fa-icon></button>
          </div>
          <div class="col-3" [ngClass]="{'font-1': character.proficiencies.acrobatics === 1, 'font-2': character.proficiencies.acrobatics === 2, 'font-3': character.proficiencies.acrobatics > 2}">
            {{character.proficiencies.acrobatics}}
          </div>
          <div class="col-3">
            Acrobatics
          </div>
          <div class="col-4">
            Dexterity ({{character ? getMod(character.dexterity) : 0}})
          </div>
        </div>
        <div class="row py-2 mx-0 text-center proficiency-option" id="proficiency-1">
          <div class="col-2 proficiency-buttons" id="proficiency-button-1">
            <button class="btn btn-sm btn-outline-success prof-increase me-2" (click)="changeProficiency('animal handling', true)"><fa-icon [icon]="faImprove"></fa-icon></button>
            <button class="btn btn-sm btn-outline-danger prof-decrease" (click)="changeProficiency('animal handling', false)"><fa-icon [icon]="faWorsen"></fa-icon></button>
          </div>
          <div class="col-3" [ngClass]="{'font-1': character.proficiencies.animalHandling === 1, 'font-2': character.proficiencies.animalHandling === 2, 'font-3': character.proficiencies.animalHandling > 2}">
            {{character.proficiencies.animalHandling}}
          </div>
          <div class="col-3">
            Animal Handling
          </div>
          <div class="col-4">
            Wisdom ({{character ? getMod(character.wisdom) : 0}})
          </div>
        </div>
        <div class="row py-2 mx-0 text-center proficiency-option" id="proficiency-2">
          <div class="col-2 proficiency-buttons" id="proficiency-button-2">
            <button class="btn btn-sm btn-outline-success prof-increase me-2" (click)="changeProficiency('arcana', true)"><fa-icon [icon]="faImprove"></fa-icon></button>
            <button class="btn btn-sm btn-outline-danger prof-decrease" (click)="changeProficiency('arcana', false)"><fa-icon [icon]="faWorsen"></fa-icon></button>
          </div>
          <div class="col-3" [ngClass]="{'font-1': character.proficiencies.arcana === 1, 'font-2': character.proficiencies.arcana === 2, 'font-3': character.proficiencies.arcana > 2}">
            {{character.proficiencies.arcana}}
          </div>
          <div class="col-3">
            Arcana
          </div>
          <div class="col-4">
            Intelligence ({{character ? getMod(character.intelligence) : 0}})
          </div>
        </div>
        <div class="row py-2 mx-0 text-center proficiency-option" id="proficiency-3">
          <div class="col-2 proficiency-buttons" id="proficiency-button-3">
            <button class="btn btn-sm btn-outline-success prof-increase me-2" (click)="changeProficiency('athletics', true)"><fa-icon [icon]="faImprove"></fa-icon></button>
            <button class="btn btn-sm btn-outline-danger prof-decrease" (click)="changeProficiency('athletics', false)"><fa-icon [icon]="faWorsen"></fa-icon></button>
          </div>
          <div class="col-3" [ngClass]="{'font-1': character.proficiencies.athletics === 1, 'font-2': character.proficiencies.athletics === 2, 'font-3': character.proficiencies.athletics > 2}">
            {{character.proficiencies.athletics}}
          </div>
          <div class="col-3">
            Athletics
          </div>
          <div class="col-4">
            Strength ({{character ? getMod(character.strength) : 0}})
          </div>
        </div>
        <div class="row py-2 mx-0 text-center proficiency-option" id="proficiency-4">
          <div class="col-2 proficiency-buttons" id="proficiency-button-4">
            <button class="btn btn-sm btn-outline-success prof-increase me-2" (click)="changeProficiency('deception', true)"><fa-icon [icon]="faImprove"></fa-icon></button>
            <button class="btn btn-sm btn-outline-danger prof-decrease" (click)="changeProficiency('deception', false)"><fa-icon [icon]="faWorsen"></fa-icon></button>
          </div>
          <div class="col-3" [ngClass]="{'font-1': character.proficiencies.deception === 1, 'font-2': character.proficiencies.deception === 2, 'font-3': character.proficiencies.deception > 2}">
            {{character.proficiencies.deception}}
          </div>
          <div class="col-3">
            Deception
          </div>
          <div class="col-4">
            Charisma ({{character ? getMod(character.charisma) : 0}})
          </div>
        </div>
        <div class="row py-2 mx-0 text-center proficiency-option" id="proficiency-5">
          <div class="col-2 proficiency-buttons" id="proficiency-button-5">
            <button class="btn btn-sm btn-outline-success prof-increase me-2" (click)="changeProficiency('history', true)"><fa-icon [icon]="faImprove"></fa-icon></button>
            <button class="btn btn-sm btn-outline-danger prof-decrease" (click)="changeProficiency('history', false)"><fa-icon [icon]="faWorsen"></fa-icon></button>
          </div>
          <div class="col-3" [ngClass]="{'font-1': character.proficiencies.history === 1, 'font-2': character.proficiencies.history === 2, 'font-3': character.proficiencies.history > 2}">
            {{character.proficiencies.history}}
          </div>
          <div class="col-3">
            History
          </div>
          <div class="col-4">
            Intelligence ({{character ? getMod(character.intelligence) : 0}})
          </div>
        </div>
        <div class="row py-2 mx-0 text-center proficiency-option" id="proficiency-6">
          <div class="col-2 proficiency-buttons" id="proficiency-button-6">
            <button class="btn btn-sm btn-outline-success prof-increase me-2" (click)="changeProficiency('insight', true)"><fa-icon [icon]="faImprove"></fa-icon></button>
            <button class="btn btn-sm btn-outline-danger prof-decrease" (click)="changeProficiency('insight', false)"><fa-icon [icon]="faWorsen"></fa-icon></button>
          </div>
          <div class="col-3" [ngClass]="{'font-1': character.proficiencies.insight === 1, 'font-2': character.proficiencies.insight === 2, 'font-3': character.proficiencies.insight > 2}">
            {{character.proficiencies.insight}}
          </div>
          <div class="col-3">
            Insight
          </div>
          <div class="col-4">
            Wisdom ({{character ? getMod(character.wisdom) : 0}})
          </div>
        </div>
        <div class="row py-2 mx-0 text-center proficiency-option" id="proficiency-7">
          <div class="col-2 proficiency-buttons" id="proficiency-button-7">
            <button class="btn btn-sm btn-outline-success prof-increase me-2" (click)="changeProficiency('intimidation', true)"><fa-icon [icon]="faImprove"></fa-icon></button>
            <button class="btn btn-sm btn-outline-danger prof-decrease" (click)="changeProficiency('intimidation', false)"><fa-icon [icon]="faWorsen"></fa-icon></button>
          </div>
          <div class="col-3" [ngClass]="{'font-1': character.proficiencies.intimidation === 1, 'font-2': character.proficiencies.intimidation === 2, 'font-3': character.proficiencies.intimidation > 2}">
            {{character.proficiencies.intimidation}}
          </div>
          <div class="col-3">
            Intimidation
          </div>
          <div class="col-4">
            Charisma ({{character ? getMod(character.charisma) : 0}})
          </div>
        </div>
        <div class="row py-2 mx-0 text-center proficiency-option" id="proficiency-8">
          <div class="col-2 proficiency-buttons" id="proficiency-button-8">
            <button class="btn btn-sm btn-outline-success prof-increase me-2" (click)="changeProficiency('investigation', true)"><fa-icon [icon]="faImprove"></fa-icon></button>
            <button class="btn btn-sm btn-outline-danger prof-decrease" (click)="changeProficiency('investigation', false)"><fa-icon [icon]="faWorsen"></fa-icon></button>
          </div>
          <div class="col-3" [ngClass]="{'font-1': character.proficiencies.investigation === 1, 'font-2': character.proficiencies.investigation === 2, 'font-3': character.proficiencies.investigation > 2}">
            {{character.proficiencies.investigation}}
          </div>
          <div class="col-3">
            Investigation
          </div>
          <div class="col-4">
            Intelligence ({{character ? getMod(character.intelligence) : 0}})
          </div>
        </div>
        <div class="row py-2 mx-0 text-center proficiency-option" id="proficiency-9">
          <div class="col-2 proficiency-buttons" id="proficiency-button-9">
            <button class="btn btn-sm btn-outline-success prof-increase me-2" (click)="changeProficiency('medicine', true)"><fa-icon [icon]="faImprove"></fa-icon></button>
            <button class="btn btn-sm btn-outline-danger prof-decrease" (click)="changeProficiency('medicine', false)"><fa-icon [icon]="faWorsen"></fa-icon></button>
          </div>
          <div class="col-3" [ngClass]="{'font-1': character.proficiencies.medicine === 1, 'font-2': character.proficiencies.medicine === 2, 'font-3': character.proficiencies.medicine > 2}">
            {{character.proficiencies.medicine}}
          </div>
          <div class="col-3">
            Medicine
          </div>
          <div class="col-4">
            Wisdom ({{character ? getMod(character.wisdom) : 0}})
          </div>
        </div>
        <div class="row py-2 mx-0 text-center proficiency-option" id="proficiency-10">
          <div class="col-2 proficiency-buttons" id="proficiency-button-10">
            <button class="btn btn-sm btn-outline-success prof-increase me-2" (click)="changeProficiency('nature', true)"><fa-icon [icon]="faImprove"></fa-icon></button>
            <button class="btn btn-sm btn-outline-danger prof-decrease" (click)="changeProficiency('nature', false)"><fa-icon [icon]="faWorsen"></fa-icon></button>
          </div>
          <div class="col-3" [ngClass]="{'font-1': character.proficiencies.nature === 1, 'font-2': character.proficiencies.nature === 2, 'font-3': character.proficiencies.nature > 2}">
            {{character.proficiencies.nature}}
          </div>
          <div class="col-3">
            Nature
          </div>
          <div class="col-4">
            Intelligence ({{character ? getMod(character.intelligence) : 0}})
          </div>
        </div>
        <div class="row py-2 mx-0 text-center proficiency-option" id="proficiency-11">
          <div class="col-2 proficiency-buttons" id="proficiency-button-11">
            <button class="btn btn-sm btn-outline-success prof-increase me-2" (click)="changeProficiency('perception', true)"><fa-icon [icon]="faImprove"></fa-icon></button>
            <button class="btn btn-sm btn-outline-danger prof-decrease" (click)="changeProficiency('perception', false)"><fa-icon [icon]="faWorsen"></fa-icon></button>
          </div>
          <div class="col-3" [ngClass]="{'font-1': character.proficiencies.perception === 1, 'font-2': character.proficiencies.perception === 2, 'font-3': character.proficiencies.perception > 2}">
            {{character.proficiencies.perception}}
          </div>
          <div class="col-3">
            Perception
          </div>
          <div class="col-4">
            Wisdom ({{character ? getMod(character.wisdom) : 0}})
          </div>
        </div>
        <div class="row py-2 mx-0 text-center proficiency-option" id="proficiency-12">
          <div class="col-2 proficiency-buttons" id="proficiency-button-12">
            <button class="btn btn-sm btn-outline-success prof-increase me-2" (click)="changeProficiency('performance', true)"><fa-icon [icon]="faImprove"></fa-icon></button>
            <button class="btn btn-sm btn-outline-danger prof-decrease" (click)="changeProficiency('performance', false)"><fa-icon [icon]="faWorsen"></fa-icon></button>
          </div>
          <div class="col-3" [ngClass]="{'font-1': character.proficiencies.performance === 1, 'font-2': character.proficiencies.performance === 2, 'font-3': character.proficiencies.performance > 2}">
            {{character.proficiencies.performance}}
          </div>
          <div class="col-3">
            Performance
          </div>
          <div class="col-4">
            Charisma ({{character ? getMod(character.charisma) : 0}})
          </div>
        </div>
        <div class="row py-2 mx-0 text-center proficiency-option" id="proficiency-13">
          <div class="col-2 proficiency-buttons" id="proficiency-button-13">
            <button class="btn btn-sm btn-outline-success prof-increase me-2" (click)="changeProficiency('persuasion', true)"><fa-icon [icon]="faImprove"></fa-icon></button>
            <button class="btn btn-sm btn-outline-danger prof-decrease" (click)="changeProficiency('persuasion', false)"><fa-icon [icon]="faWorsen"></fa-icon></button>
          </div>
          <div class="col-3" [ngClass]="{'font-1': character.proficiencies.persuasion === 1, 'font-2': character.proficiencies.persuasion === 2, 'font-3': character.proficiencies.persuasion > 2}">
            {{character.proficiencies.persuasion}}
          </div>
          <div class="col-3">
            Persuasion
          </div>
          <div class="col-4">
            Charisma ({{character ? getMod(character.charisma) : 0}})
          </div>
        </div>
        <div class="row py-2 mx-0 text-center proficiency-option" id="proficiency-14">
          <div class="col-2 proficiency-buttons" id="proficiency-button-14">
            <button class="btn btn-sm btn-outline-success prof-increase me-2" (click)="changeProficiency('religion', true)"><fa-icon [icon]="faImprove"></fa-icon></button>
            <button class="btn btn-sm btn-outline-danger prof-decrease" (click)="changeProficiency('religion', false)"><fa-icon [icon]="faWorsen"></fa-icon></button>
          </div>
          <div class="col-3" [ngClass]="{'font-1': character.proficiencies.religion === 1, 'font-2': character.proficiencies.religion === 2, 'font-3': character.proficiencies.religion > 2}">
            {{character.proficiencies.religion}}
          </div>
          <div class="col-3">
            Religion
          </div>
          <div class="col-4">
            Intelligence ({{character ? getMod(character.intelligence) : 0}})
          </div>
        </div>
        <div class="row py-2 mx-0 text-center proficiency-option" id="proficiency-15">
          <div class="col-2 proficiency-buttons" id="proficiency-button-15">
            <button class="btn btn-sm btn-outline-success prof-increase me-2" (click)="changeProficiency('sleight of hand', true)"><fa-icon [icon]="faImprove"></fa-icon></button>
            <button class="btn btn-sm btn-outline-danger prof-decrease" (click)="changeProficiency('sleight of hand', false)"><fa-icon [icon]="faWorsen"></fa-icon></button>
          </div>
          <div class="col-3" [ngClass]="{'font-1': character.proficiencies.sleightOfHand === 1, 'font-2': character.proficiencies.sleightOfHand === 2, 'font-3': character.proficiencies.sleightOfHand > 2}">
            {{character.proficiencies.sleightOfHand}}
          </div>
          <div class="col-3">
            Sleight Of Hand
          </div>
          <div class="col-4">
            Dexterity ({{character ? getMod(character.dexterity) : 0}})
          </div>
        </div>
        <div class="row py-2 mx-0 text-center proficiency-option" id="proficiency-16">
          <div class="col-2 proficiency-buttons" id="proficiency-button-16">
            <button class="btn btn-sm btn-outline-success prof-increase me-2" (click)="changeProficiency('stealth', true)"><fa-icon [icon]="faImprove"></fa-icon></button>
            <button class="btn btn-sm btn-outline-danger prof-decrease" (click)="changeProficiency('stealth', false)"><fa-icon [icon]="faWorsen"></fa-icon></button>
          </div>
          <div class="col-3" [ngClass]="{'font-1': character.proficiencies.stealth === 1, 'font-2': character.proficiencies.stealth === 2, 'font-3': character.proficiencies.stealth > 2}">
            {{character.proficiencies.stealth}}
          </div>
          <div class="col-3">
            Stealth
          </div>
          <div class="col-4">
            Dexterity ({{character ? getMod(character.dexterity) : 0}})
          </div>
        </div>
        <div class="row py-2 mx-0 text-center proficiency-option" id="proficiency-17">
          <div class="col-2 proficiency-buttons" id="proficiency-button-17">
            <button class="btn btn-sm btn-outline-success prof-increase me-2" (click)="changeProficiency('survival', true)"><fa-icon [icon]="faImprove"></fa-icon></button>
            <button class="btn btn-sm btn-outline-danger prof-decrease" (click)="changeProficiency('survival', false)"><fa-icon [icon]="faWorsen"></fa-icon></button>
          </div>
          <div class="col-3" [ngClass]="{'font-1': character.proficiencies.survival === 1, 'font-2': character.proficiencies.survival === 2, 'font-3': character.proficiencies.survival > 2}">
            {{character.proficiencies.survival}}
          </div>
          <div class="col-3">
            Survival
          </div>
          <div class="col-4">
            Wisdom ({{character ? getMod(character.wisdom) : 0}})
          </div>
        </div>
      </div>

      <div class="tab-pane fade" id="attacks" role="tabpanel">
        <!-- <div class="row mx-0" *ngIf="character">
          <div class="attack-card-container col-6" *ngFor="let attack of character.attacks">
            <div class="attack-card text-center row mx-0" (click)="testing = !testing">
              <h2 class="attack-name col-12">{{attack.name}}</h2>
              <div class="col-12">Type: {{attack.type}}</div>
              <div class="col-6">Dice: D{{attack.damageDice}}</div>
              <div class="col-6">Rolls: {{attack.rolls}}</div>
              <div>Bonus: {{attack.damageBonus}}</div>
              <div>Hit: {{attack.atkBonus}}</div>
              <div>Range: {{attack.range}}</div>
            </div>
          </div>
        </div> -->
        <div class="accordion" id="accordionExample" *ngIf="character">
          <div class="accordion-item" *ngFor="let attack of character.attacks; let i = index" @flattenInOut>
            <h2 class="accordion-header" id="heading{{i}}">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse' + i" aria-expanded="false" aria-controls="collapseOne">
                {{attack.name !== "" ? attack.name : "- New Attack -"}}
              </button>
            </h2>
            <div id="collapse{{i}}" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="accordion-body row mx-0 pb-5">
                <div class="form-group col-9">
                  <label for="attackName{{i}}" class="form-label ps-2">Attack Name</label>
                  <input class="form-control" id="attackName{{i}}" placeholder="Fisticuffs are for losers anyway..." [(ngModel)]="attack.name">
                </div>
                <div class="col-3">
                  <button class="w-100 btn btn-sm btn-outline-danger" style="margin-top: 32px" (click)="removeAttack(i)">Remove</button>
                </div>
                <div class="form-group col-6">
                  <label for="range{{i}}" class="form-label ps-2 mt-3">Range</label>
                  <input class="form-control" type="number" id="range{{i}}" [(ngModel)]="attack.range">
                </div>
                <div class="form-group col-6">
                  <label for="typeSelect{{i}}" class="form-label ps-2 mt-3">Type</label>
                  <select class="form-select" id="typeSelect{{i}}" [(ngModel)]="attack.type">
                    <option>Acid</option>
                    <option>Bludgeoning</option>
                    <option>Cold</option>
                    <option>Fire</option>
                    <option>Force</option>
                    <option>Lightning</option>
                    <option>Necrotic</option>
                    <option>Piercing</option>
                    <option>Poison</option>
                    <option>Psychic</option>
                    <option>Radiant</option>
                    <option>Slashing</option>
                    <option>Thunder</option>
                  </select>
                </div>
                <div class="form-group col-6">
                  <label for="rollsSelect{{i}}" class="form-label ps-2 mt-3">Rolls</label>
                  <select class="form-select" id="rollsSelect{{i}}" [(ngModel)]="attack.rolls">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                  </select>
                </div>
                <div class="form-group col-6">
                  <label for="diceSizeSelect{{i}}" class="form-label ps-2 mt-3">Dice Size</label>
                  <select class="form-select" id="diceSizeSelect{{i}}" [(ngModel)]="attack.damageDice">
                    <option>4</option>
                    <option>6</option>
                    <option>8</option>
                    <option>10</option>
                    <option>12</option>
                    <option>20</option>
                    <option>100</option>
                  </select>
                </div>
                <div class="form-group col-6">
                  <label for="damageBonus{{i}}" class="form-label ps-2 mt-3">Damage Bonus</label>
                  <input class="form-control" type="number" id="damageBonus{{i}}" [(ngModel)]="attack.damageBonus">
                </div>
                <div class="form-group col-6">
                  <label for="hitBonus{{i}}" class="form-label ps-2 mt-3">Hit Bonus</label>
                  <input class="form-control" type="number" id="hitBonus{{i}}" [(ngModel)]="attack.atkBonus">
                </div>
                <div class="form-group col-12">
                  <label for="desc{{i}}" class="form-label ps-2 mt-3">Description</label>
                  <textarea class="form-control" id="desc{{i}}"></textarea>
                </div>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h3 class="accordion-header">
              <div class="add-weapon" (click)="addAttack()">
                <div class="add-weapon-icon"><fa-icon [icon]="faAdd"></fa-icon></div><div class="add-weapon-text">Add Attack</div>
              </div>
            </h3>
          </div>
        </div>
      </div>

      <div class="tab-pane fade" id="languages" role="tabpanel">
        <div class="row mt-2">
          <div class="col-6">
            <h4 class="text-center">Current Languages</h4>
            <div class="row mx-0 my-3 language-option" @languageAnim *ngFor="let language of character?.languages; let i = index">
              <div class="col-12 language-name">{{language}}</div>
              <div class="remove-button" (click)="removeLanguage(i)" type="button"><fa-icon [icon]="faRemove"></fa-icon></div>
            </div>
            <div class="row mx-0 my-3">
              <div class="col-12 empty-text text-center" @fadeInBottom *ngIf="(character?.languages?.length || 0) < 1">I've never met a mute before...</div>
            </div>
          </div>
          <div class="col-6">
            <h4 class="text-center">Add a new language:</h4>
            <div class="input-group">
              <input class="form-control more-testing" placeholder="Any language works..." maxlength="30" type="text" [(ngModel)]="newLanguage" (keyup.enter)="addLanguage()" (keyup)="fitlerLanguages()">
              <button class="btn btn-success btn-sm test" (click)="addLanguage()"><div id="add-icon"><fa-icon [icon]="faAdd"></fa-icon></div></button>
            </div>
            <h5 class="mt-3 mb-2 text-center">Common Tongues:</h5>
            <div class="row mx-0 auto-complete my-2" *ngFor="let language of filteredLanguages" (click)="addLanguage(language)">
              <div class="col-auto auto-fill-button" type="button"><fa-icon [icon]="faAutoFill"></fa-icon></div>
              <div class="col language-text">{{language}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="float-right text-center">
      <button (click)="saveInfo()" class="btn btn-success me-3">Save</button>
      <button (click)="closeModal()" class="btn btn-danger">Cancel</button>
    </div>
  </div>
</div>
