<div class="modal-content">
  <div class="modal-header">
    <h1 class="mt-2">{{title}}<span class="blinking">|</span></h1>
    <button style="color: white;" class='btn close-button close' (click)="closeModal()" type="button" aria-label="Close">
      <fa-icon [icon]="faClose"></fa-icon>
    </button>
  </div>
  <div class="modal-body">
    <div class="row mb-3">
      <span class="label">Strength</span>
      <input id="firstInput" type="number" class="form-control text-info" [(ngModel)]="newInfo.strength">
    </div>
    <div class="row mb-3">
      <span class="label">Dexterity</span>
      <input type="number" class="form-control text-info" [(ngModel)]="newInfo.dexterity">
    </div>
    <div class="row mb-3">
      <span class="label">Constitution</span>
      <input type="number" class="form-control text-info" [(ngModel)]="newInfo.constitution">
    </div>
    <div class="row mb-3">
      <span class="label">Intelligence</span>
      <input type="number" class="form-control text-info" [(ngModel)]="newInfo.intelligence">
    </div>
    <div class="row mb-3">
      <span class="label">Wisdom</span>
      <input type="number" class="form-control text-info" [(ngModel)]="newInfo.wisdom">
    </div>
    <div class="row mb-4">
      <span class="label">Charisma</span>
      <input type="number" class="form-control text-info" [(ngModel)]="newInfo.charisma">
    </div>
    <div class="float-right text-center">
      <button (click)="saveInfo()" class="btn btn-success me-3">Save</button>
      <button (click)="closeModal()" class="btn btn-danger">Cancel</button>
    </div>
  </div>
</div>
