<div class="modal-content">
  <div class="modal-header">
    <h1 class="mt-2">{{title}}<span class="blinking">|</span></h1>
    <button style="color: white;" class='btn close-button close' (click)="closeModal()" type="button" aria-label="Close">
      <fa-icon [icon]="faClose"></fa-icon>
    </button>
  </div>
  <div class="modal-body">
    <div class="row mx-0 mb-3">
      <span class="label">Character Name</span>
      <input id="firstInput" type="text" class="form-control text-info" spellcheck="false" [(ngModel)]="newInfo.name">
    </div>
    <div class="row mx-0 mb-3">
      <span class="label">Level</span>
      <input type="number" class="form-control text-info" [(ngModel)]="newInfo.level">
    </div>
    <div class="row mx-0 mb-3">
      <span class="label">Class</span>
      <input type="text" class="form-control text-info" [(ngModel)]="newInfo.class">
    </div>
    <div class="row mx-0 mb-3">
      <span class="label">Race</span>
      <input type="text" class="form-control text-info" [(ngModel)]="newInfo.race">
    </div>
    <div class="row mx-0 mb-3">
      <span class="label">Background</span>
      <input type="text" class="form-control text-info" [(ngModel)]="newInfo.background">
    </div>
    <div class="row mx-0 mb-3">
      <span class="label">Alignment</span>
      <input type="text" class="form-control text-info" [(ngModel)]="newInfo.alignment">
    </div>
    <div class="row mx-0 mb-4">
      <span class="label">XP</span>
      <input type="number" class="form-control text-info" [(ngModel)]="newInfo.xp">
    </div>
    <div class="float-right text-center">
      <button (click)="saveInfo()" class="btn btn-success me-3">Save</button>
      <button (click)="closeModal()" class="btn btn-danger">Cancel</button>
    </div>
  </div>
</div>
