<div class="container">
  <!-- This is for MOBILE -->
  <div class="d-block d-sm-block d-md-none">
    <div class="row">
      <div class="col-6">
        <div class="form-group select-character">
          <label for="select-character" class="form-label mb-0 mt-2"> Select Character <fa-icon [icon]="faSelectChar"></fa-icon></label>
          <select #char1 (change)="setCurrentCharacter(char1.value)" class="form-select" id="select-character">
            <option>-- Characters --</option>
            <option *ngFor="let character of characters" value={{character.id}}>{{character.name}}</option>
          </select>
        </div>
      </div>
      <div class="col-6">
        <label>&nbsp;</label>
        <div class="create-character" routerLinkActive="active" routerLink="/character-creation">Add a character</div>
      </div>
      <div class="col-12 col-md-6">
        <h1 class="title-text">Character Info</h1>
      </div>
    </div>
  </div>
  <!-- This is for DESKTOP -->
  <div class="d-none d-sm-none d-md-block">
    <div class="row mb-2">
      <div class="col-3">
        <div class="form-group select-character">
          <label for="select-character" class="form-label mb-0 mt-2"> Select Character <fa-icon [icon]="faSelectChar"></fa-icon></label>
          <select #char2 (change)="setCurrentCharacter(char2.value)" class="form-select" id="select-character">
            <option value={{currentCharacterIndex}}>-- Characters --</option>
            <option *ngFor="let character of characters" value={{character.id}}>{{character.name}}</option>
          </select>
        </div>
      </div>
      <div class="col-6">
        <h1 class="title-text">Character Info</h1>
      </div>
      <div class="col-3">
        <label>&nbsp;</label>
        <div class="create-character" routerLinkActive="active" routerLink="/character-creation">Add a character</div>
      </div>
    </div>
  </div>


  <div class="row mb-2" style="height: max-content;">
    <div class="section">
      <div (click)="changeBasicInfo()" id="section-bar">
        <fa-icon *ngIf="!basicEdit" class="edit-button" [icon]="faEdit"></fa-icon>
        <fa-icon *ngIf="basicEdit" class="edit-button" [icon]="faSave"></fa-icon>
        <h3>Basic Info</h3>
      </div>
      <div class="row">
        <div class="col curtains">
          Character Name
        </div>
        <div class="col curtains">
          Level
        </div>
        <div class="col curtains">
          Class
        </div>
        <div class="col curtains">
          Race
        </div>
        <div class="col curtains">
          Background
        </div>
        <div *ngIf="characters && characters[currentCharacterIndex]?.alignment" class="col curtains">
          Alignment
        </div>
        <div *ngIf="characters && characters[currentCharacterIndex]?.xp" class="col curtains">
          XP
        </div>
      </div>
      <div *ngIf="characters" class="row" style="margin-top: 5px">
        <div class="col text-info">
          {{characters[currentCharacterIndex]?.name}}
        </div>
        <div class="col text-info">
          {{characters[currentCharacterIndex]?.level}}
        </div>
        <div class="col text-info">
          {{characters[currentCharacterIndex]?.class}}
        </div>
        <div class="col text-info">
          {{characters[currentCharacterIndex]?.race}}
        </div>
        <div class="col text-info">
          {{characters[currentCharacterIndex]?.background}}
        </div>
        <div *ngIf="characters[currentCharacterIndex]?.alignment" class="col text-info">
          {{characters[currentCharacterIndex]?.alignment}}
        </div>
        <div *ngIf="characters[currentCharacterIndex]?.xp" class="col text-info">
          {{characters[currentCharacterIndex]?.xp}}
        </div>
      </div>
    </div>
  </div>


  <div class="row" style="height: max-content;">
    <div class="col" style="margin-right: 3px;">
      <div class="row" style="height: 100%">
        <div class="section">
          <div (click)="changeStats()" id="section-bar">
            <fa-icon *ngIf="!statsEdit" class="edit-button" [icon]="faEdit"></fa-icon>
            <fa-icon *ngIf="statsEdit" class="edit-button" [icon]="faSave"></fa-icon>
            <h3>Stats</h3>
          </div>
          <table class="table">
            <thead>
              <tr style="background-color: #281648">
                <th scope="col">Attribute</th>
                <th scope="col">Amount</th>
                <th scope="col">Modifier</th>
              </tr>
            </thead>
            <tbody *ngIf="characters">
              <tr>
                <th scope="row"><fa-icon [icon]="faStr"></fa-icon> Str</th>
                <td class="text-info">{{characters[currentCharacterIndex].strength}}</td>
                <td class="text-info">{{getMod(characters[currentCharacterIndex].strength)}}</td>
              </tr>
              <tr class="table-dark">
                <th scope="row"><fa-icon [icon]="faDex"></fa-icon> Dex</th>
                <td class="text-info">{{characters[currentCharacterIndex].dexterity}}</td>
                <td class="text-info">{{getMod(characters[currentCharacterIndex].dexterity)}}</td>
              </tr>
              <tr>
                <th scope="row"><fa-icon [icon]="faCon"></fa-icon> Con</th>
                <td class="text-info">{{characters[currentCharacterIndex].constitution}}</td>
                <td class="text-info">{{getMod(characters[currentCharacterIndex].constitution)}}</td>
              </tr>
              <tr class="table-dark">
                <th scope="row"><fa-icon [icon]="faInt"></fa-icon> Int</th>
                <td class="text-info">{{characters[currentCharacterIndex].intelligence}}</td>
                <td class="text-info">{{getMod(characters[currentCharacterIndex].intelligence)}}</td>
              </tr>
              <tr>
                <th scope="row"><fa-icon [icon]="faWis"></fa-icon> Wis</th>
                <td class="text-info">{{characters[currentCharacterIndex].wisdom}}</td>
                <td class="text-info">{{getMod(characters[currentCharacterIndex].wisdom)}}</td>
              </tr>
              <tr class="table-dark">
                <th scope="row"><fa-icon [icon]="faCha"></fa-icon> Cha</th>
                <td class="text-info">{{characters[currentCharacterIndex].charisma}}</td>
                <td class="text-info">{{getMod(characters[currentCharacterIndex].charisma)}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>


    <div class="col" style="margin-left: 3px">
      <div class="row mb-2" style="height: 50%">
        <div class="section">
          <div (click)="changeBattleStats()" id="section-bar">
            <fa-icon *ngIf="!battleEdit" class="edit-button" [icon]="faEdit"></fa-icon>
            <fa-icon *ngIf="battleEdit" class="edit-button" [icon]="faSave"></fa-icon>
            <h3>Battle Stats</h3>
          </div>
          <div class="row">
            <div class="col" style="font-family: 'Oswald', sans-serif;">
              Armor Class <br>
              <fa-icon [icon]="faAC"></fa-icon>
            </div>
            <div class="col" style="font-family: 'Oswald', sans-serif">
              Initiative <br>
              <fa-icon [icon]="faInitiative"></fa-icon>
            </div>
            <div class="col" style="font-family: 'Oswald', sans-serif">
              Speed <br>
              <fa-icon [icon]="faMovement"></fa-icon>
            </div>
          </div>
          <div *ngIf="characters" class="row mb-3 curtains">
            <div class="col text-info">
              {{characters[currentCharacterIndex]?.armorClass}}
            </div>
            <div class="col text-info">
              {{characters[currentCharacterIndex]?.initiative}}
            </div>
            <div class="col text-info">
              {{characters[currentCharacterIndex]?.speed}}
            </div>
          </div>
          <div class="row">
            <div class="col">
              <button class="btn btn-outline-success health-button mt-4" (click)="changeHealth(5)">+5</button>
              <br>
              <button class="btn btn-outline-success health-button mt-5" (click)="changeHealth(1)">+1</button>
            </div>
            <div class="col">
              <div *ngIf="characters" class="health-ball" [ngClass]="calcHealth()">
                <h5 style="font-family: 'Oswald', sans-serif">Current Hit Points</h5>
                <h4 class="text-info mb-0">{{characters[currentCharacterIndex]?.hitPoints}}</h4>
                <h5 class="mx-auto" style="width: max-content; border-top: 2px solid white; padding-top: 8px; font-family: 'Oswald', sans-serif">Maximum Hit Points</h5>
                <h4 class="text-info">{{characters[currentCharacterIndex]?.maxHitPoints}}</h4>
              </div>
            </div>
            <div class="col">
              <button class="btn btn-outline-danger health-button mt-4" (click)="changeHealth(-5)">-5</button>
              <br>
              <button class="btn btn-outline-danger health-button mt-5" (click)="changeHealth(-1)">-1</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row" style="height: max-content;">
    <div class="section">
      <div (click)="changeOtherInfo()" id="section-bar">
        <fa-icon *ngIf="!otherEdit" class="edit-button" [icon]="faEdit"></fa-icon>
        <fa-icon *ngIf="otherEdit" class="edit-button" [icon]="faSave"></fa-icon>
        <h3>Other Info</h3>
      </div>
      <div class="row">
        <div class="col">
          <h6>Skills</h6>
          <div class="row section">
            <div class="curtains">Proficiency Bonus: {{characters[currentCharacterIndex]?.proficiencyBonus}}</div>
            <table class="table" style="vertical-align: middle" *ngIf="characters[currentCharacterIndex]?.proficiencies">
              <tbody>
                <tr>
                  <td><fa-icon *ngIf="characters[currentCharacterIndex]?.proficiencies.acrobatics === 2" [icon]="faSuperProf"></fa-icon><fa-icon *ngIf="characters[currentCharacterIndex]?.proficiencies.acrobatics === 1" [icon]="faYesProf"></fa-icon><fa-icon *ngIf="characters[currentCharacterIndex]?.proficiencies.acrobatics === 0" [icon]="faNoProf"></fa-icon></td>
                  <th>Acrobatics</th>
                  <td>{{(characters[currentCharacterIndex]?.proficiencies.acrobatics * characters[currentCharacterIndex]?.proficiencyBonus) + getMod(characters[currentCharacterIndex].dexterity)}}</td>
                </tr>
                <tr class="table-dark">
                  <td><fa-icon *ngIf="characters[currentCharacterIndex]?.proficiencies.animalHandling === 2" [icon]="faSuperProf"></fa-icon><fa-icon *ngIf="characters[currentCharacterIndex]?.proficiencies.animalHandling === 1" [icon]="faYesProf"></fa-icon><fa-icon *ngIf="characters[currentCharacterIndex]?.proficiencies.animalHandling === 0" [icon]="faNoProf"></fa-icon></td>
                  <th>Animal Handling</th>
                  <td>{{(characters[currentCharacterIndex]?.proficiencies.animalHandling * characters[currentCharacterIndex]?.proficiencyBonus) + getMod(characters[currentCharacterIndex].wisdom)}}</td>
                </tr>
                <tr>
                  <td><fa-icon *ngIf="characters[currentCharacterIndex]?.proficiencies.arcana === 2" [icon]="faSuperProf"></fa-icon><fa-icon *ngIf="characters[currentCharacterIndex]?.proficiencies.arcana === 1" [icon]="faYesProf"></fa-icon><fa-icon *ngIf="characters[currentCharacterIndex]?.proficiencies.arcana === 0" [icon]="faNoProf"></fa-icon></td>
                  <th>Arcana</th>
                  <td>{{(characters[currentCharacterIndex]?.proficiencies.arcana * characters[currentCharacterIndex]?.proficiencyBonus) + getMod(characters[currentCharacterIndex].intelligence)}}</td>
                </tr>
                <tr class="table-dark">
                  <td><fa-icon *ngIf="characters[currentCharacterIndex]?.proficiencies.athletics === 2" [icon]="faSuperProf"></fa-icon><fa-icon *ngIf="characters[currentCharacterIndex]?.proficiencies.athletics === 1" [icon]="faYesProf"></fa-icon><fa-icon *ngIf="characters[currentCharacterIndex]?.proficiencies.athletics === 0" [icon]="faNoProf"></fa-icon></td>
                  <th>Athletics</th>
                  <td>{{(characters[currentCharacterIndex]?.proficiencies.athletics * characters[currentCharacterIndex]?.proficiencyBonus) + getMod(characters[currentCharacterIndex].strength)}}</td>
                </tr>
                <tr>
                  <td><fa-icon *ngIf="characters[currentCharacterIndex]?.proficiencies.deception === 2" [icon]="faSuperProf"></fa-icon><fa-icon *ngIf="characters[currentCharacterIndex]?.proficiencies.deception === 1" [icon]="faYesProf"></fa-icon><fa-icon *ngIf="characters[currentCharacterIndex]?.proficiencies.deception === 0" [icon]="faNoProf"></fa-icon></td>
                  <th>Deception</th>
                  <td>{{(characters[currentCharacterIndex]?.proficiencies.deception * characters[currentCharacterIndex]?.proficiencyBonus) + getMod(characters[currentCharacterIndex].charisma)}}</td>
                </tr>
                <tr class="table-dark">
                  <td><fa-icon *ngIf="characters[currentCharacterIndex]?.proficiencies.history === 2" [icon]="faSuperProf"></fa-icon><fa-icon *ngIf="characters[currentCharacterIndex]?.proficiencies.history === 1" [icon]="faYesProf"></fa-icon><fa-icon *ngIf="characters[currentCharacterIndex]?.proficiencies.history === 0" [icon]="faNoProf"></fa-icon></td>
                  <th>History</th>
                  <td>{{(characters[currentCharacterIndex]?.proficiencies.history * characters[currentCharacterIndex]?.proficiencyBonus) + getMod(characters[currentCharacterIndex].intelligence)}}</td>
                </tr>
                <tr>
                  <td><fa-icon *ngIf="characters[currentCharacterIndex]?.proficiencies.insight === 2" [icon]="faSuperProf"></fa-icon><fa-icon *ngIf="characters[currentCharacterIndex]?.proficiencies.insight === 1" [icon]="faYesProf"></fa-icon><fa-icon *ngIf="characters[currentCharacterIndex]?.proficiencies.insight === 0" [icon]="faNoProf"></fa-icon></td>
                  <th>Insight</th>
                  <td>{{(characters[currentCharacterIndex]?.proficiencies.insight * characters[currentCharacterIndex]?.proficiencyBonus) + getMod(characters[currentCharacterIndex].wisdom)}}</td>
                </tr>
                <tr class="table-dark">
                  <td><fa-icon *ngIf="characters[currentCharacterIndex]?.proficiencies.intimidation === 2" [icon]="faSuperProf"></fa-icon><fa-icon *ngIf="characters[currentCharacterIndex]?.proficiencies.intimidation === 1" [icon]="faYesProf"></fa-icon><fa-icon *ngIf="characters[currentCharacterIndex]?.proficiencies.intimidation === 0" [icon]="faNoProf"></fa-icon></td>
                  <th>Intimidation</th>
                  <td>{{(characters[currentCharacterIndex]?.proficiencies.intimidation * characters[currentCharacterIndex]?.proficiencyBonus) + getMod(characters[currentCharacterIndex].charisma)}}</td>
                </tr>
                <tr>
                  <td><fa-icon *ngIf="characters[currentCharacterIndex]?.proficiencies.investigation === 2" [icon]="faSuperProf"></fa-icon><fa-icon *ngIf="characters[currentCharacterIndex]?.proficiencies.investigation === 1" [icon]="faYesProf"></fa-icon><fa-icon *ngIf="characters[currentCharacterIndex]?.proficiencies.investigation === 0" [icon]="faNoProf"></fa-icon></td>
                  <th>Investigation</th>
                  <td>{{(characters[currentCharacterIndex]?.proficiencies.investigation * characters[currentCharacterIndex]?.proficiencyBonus) + getMod(characters[currentCharacterIndex].intelligence)}}</td>
                </tr>
                <tr class="table-dark">
                  <td><fa-icon *ngIf="characters[currentCharacterIndex]?.proficiencies.medicine === 2" [icon]="faSuperProf"></fa-icon><fa-icon *ngIf="characters[currentCharacterIndex]?.proficiencies.medicine === 1" [icon]="faYesProf"></fa-icon><fa-icon *ngIf="characters[currentCharacterIndex]?.proficiencies.medicine === 0" [icon]="faNoProf"></fa-icon></td>
                  <th>Medicine</th>
                  <td>{{(characters[currentCharacterIndex]?.proficiencies.medicine * characters[currentCharacterIndex]?.proficiencyBonus) + getMod(characters[currentCharacterIndex].wisdom)}}</td>
                </tr>
                <tr>
                  <td><fa-icon *ngIf="characters[currentCharacterIndex]?.proficiencies.nature === 2" [icon]="faSuperProf"></fa-icon><fa-icon *ngIf="characters[currentCharacterIndex]?.proficiencies.nature === 1" [icon]="faYesProf"></fa-icon><fa-icon *ngIf="characters[currentCharacterIndex]?.proficiencies.nature === 0" [icon]="faNoProf"></fa-icon></td>
                  <th>Nature</th>
                  <td>{{(characters[currentCharacterIndex]?.proficiencies.nature * characters[currentCharacterIndex]?.proficiencyBonus) + getMod(characters[currentCharacterIndex].intelligence)}}</td>
                </tr>
                <tr class="table-dark">
                  <td><fa-icon *ngIf="characters[currentCharacterIndex]?.proficiencies.perception === 2" [icon]="faSuperProf"></fa-icon><fa-icon *ngIf="characters[currentCharacterIndex]?.proficiencies.perception === 1" [icon]="faYesProf"></fa-icon><fa-icon *ngIf="characters[currentCharacterIndex]?.proficiencies.perception === 0" [icon]="faNoProf"></fa-icon></td>
                  <th>Perception</th>
                  <td>{{(characters[currentCharacterIndex]?.proficiencies.perception * characters[currentCharacterIndex]?.proficiencyBonus) + getMod(characters[currentCharacterIndex].wisdom)}}</td>
                </tr>
                <tr>
                  <td><fa-icon *ngIf="characters[currentCharacterIndex]?.proficiencies.performance === 2" [icon]="faSuperProf"></fa-icon><fa-icon *ngIf="characters[currentCharacterIndex]?.proficiencies.performance === 1" [icon]="faYesProf"></fa-icon><fa-icon *ngIf="characters[currentCharacterIndex]?.proficiencies.performance === 0" [icon]="faNoProf"></fa-icon></td>
                  <th>Performance</th>
                  <td>{{(characters[currentCharacterIndex]?.proficiencies.performance * characters[currentCharacterIndex]?.proficiencyBonus) + getMod(characters[currentCharacterIndex].charisma)}}</td>
                </tr>
                <tr class="table-dark">
                  <td><fa-icon *ngIf="characters[currentCharacterIndex]?.proficiencies.persuasion === 2" [icon]="faSuperProf"></fa-icon><fa-icon *ngIf="characters[currentCharacterIndex]?.proficiencies.persuasion === 1" [icon]="faYesProf"></fa-icon><fa-icon class="fa-regular" *ngIf="characters[currentCharacterIndex]?.proficiencies.persuasion === 0" [icon]="faNoProf"></fa-icon></td>
                  <th>Persuasion</th>
                  <td>{{(characters[currentCharacterIndex]?.proficiencies.persuasion * characters[currentCharacterIndex]?.proficiencyBonus) + getMod(characters[currentCharacterIndex].charisma)}}</td>
                </tr>
                <tr>
                  <td><fa-icon *ngIf="characters[currentCharacterIndex]?.proficiencies.religion === 2" [icon]="faSuperProf"></fa-icon><fa-icon *ngIf="characters[currentCharacterIndex]?.proficiencies.religion === 1" [icon]="faYesProf"></fa-icon><fa-icon *ngIf="characters[currentCharacterIndex]?.proficiencies.religion === 0" [icon]="faNoProf"></fa-icon></td>
                  <th>Religion</th>
                  <td>{{(characters[currentCharacterIndex]?.proficiencies.religion * characters[currentCharacterIndex]?.proficiencyBonus) + getMod(characters[currentCharacterIndex].intelligence)}}</td>
                </tr>
                <tr class="table-dark">
                  <td><fa-icon *ngIf="characters[currentCharacterIndex]?.proficiencies.sleightOfHand === 2" [icon]="faSuperProf"></fa-icon><fa-icon *ngIf="characters[currentCharacterIndex]?.proficiencies.sleightOfHand === 1" [icon]="faYesProf"></fa-icon><fa-icon *ngIf="characters[currentCharacterIndex]?.proficiencies.sleightOfHand === 0" [icon]="faNoProf"></fa-icon></td>
                  <th>Sleight Of Hand</th>
                  <td>{{(characters[currentCharacterIndex]?.proficiencies.sleightOfHand * characters[currentCharacterIndex]?.proficiencyBonus) + getMod(characters[currentCharacterIndex].dexterity)}}</td>
                </tr>
                <tr>
                  <td><fa-icon *ngIf="characters[currentCharacterIndex]?.proficiencies.stealth === 2" [icon]="faSuperProf"></fa-icon><fa-icon *ngIf="characters[currentCharacterIndex]?.proficiencies.stealth === 1" [icon]="faYesProf"></fa-icon><fa-icon *ngIf="characters[currentCharacterIndex]?.proficiencies.stealth === 0" [icon]="faNoProf"></fa-icon></td>
                  <th>Stealth</th>
                  <td>{{(characters[currentCharacterIndex]?.proficiencies.stealth * characters[currentCharacterIndex]?.proficiencyBonus) + getMod(characters[currentCharacterIndex].dexterity)}}</td>
                </tr>
                <tr class="table-dark">
                  <td><fa-icon *ngIf="characters[currentCharacterIndex]?.proficiencies.survival === 2" [icon]="faSuperProf"></fa-icon><fa-icon *ngIf="characters[currentCharacterIndex]?.proficiencies.survival === 1" [icon]="faYesProf"></fa-icon><fa-icon *ngIf="characters[currentCharacterIndex]?.proficiencies.survival === 0" [icon]="faNoProf"></fa-icon></td>
                  <th>Survival</th>
                  <td>{{(characters[currentCharacterIndex]?.proficiencies.survival * characters[currentCharacterIndex]?.proficiencyBonus) + getMod(characters[currentCharacterIndex].wisdom)}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col">
          <h6>Attacks</h6>
        </div>
        <div class="col">
          <h6>Equipment</h6>
        </div>
        <div class="col">
          <h6>Features and Traits</h6>
          Languages
          <br>
          Extra basic info
          <br>
          World info
        </div>
      </div>
      <div class="row">
      </div>
    </div>
  </div>
</div>
