<h1 class="title-text">Character Info</h1>
<div class="container">
  <div class="row mb-2" style="height: 15vh;">
    <div class="section">
      <div id="section-bar">
        <fa-icon class="edit-button" [icon]="faEdit"></fa-icon>
        <h3>Basic Info</h3>
      </div>
      <div class="row">
        <div class="col curtains">
          Character Name
        </div>
        <div class="col curtains">
          Class & Level
        </div>
        <div class="col curtains">
          Race
        </div>
        <div class="col curtains">
          Background
        </div>
        <div *ngIf="currentCharacter?.alignment" class="col curtains">
          Alignment
        </div>
      </div>
      <div class="row" style="margin-top: 5px">
        <div class="col text-info">
          {{currentCharacter?.name}}
        </div>
        <div class="col text-info">
          lvl {{currentCharacter?.level}} {{currentCharacter?.class}}
        </div>
        <div class="col text-info">
          {{currentCharacter?.race}}
        </div>
        <div class="col text-info">
          {{currentCharacter?.background}}
        </div>
        <div *ngIf="currentCharacter?.alignment" class="col text-info">
          {{currentCharacter?.alignment}}
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="height: 60vh;">
    <div class="col" style="margin-right: 3px;">
      <div class="row" style="height: 100%">
        <div class="section">
          <div id="section-bar">
            <fa-icon class="edit-button" [icon]="faEdit"></fa-icon>
            <h3>Stats</h3>
          </div>
          <table class="table">
            <thead>
              <tr style="background-color: #281648">
                <th scope="col">Attribute</th>
                <th scope="col">Amount</th>
                <th scope="col">Modifier</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row"><fa-icon [icon]="faStr"></fa-icon> Str</th>
                <td></td>
                <td></td>
              </tr>
              <tr class="table-dark">
                <th scope="row"><fa-icon [icon]="faDex"></fa-icon> Dex</th>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row"><fa-icon [icon]="faCon"></fa-icon> Con</th>
                <td></td>
                <td></td>
              </tr>
              <tr class="table-dark">
                <th scope="row"><fa-icon [icon]="faInt"></fa-icon> Int</th>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row"><fa-icon [icon]="faWis"></fa-icon> Wis</th>
                <td></td>
                <td></td>
              </tr>
              <tr class="table-dark">
                <th scope="row"><fa-icon [icon]="faCha"></fa-icon> Cha</th>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col" style="margin-left: 3px">
      <div class="row mb-2" style="height: 30%">
        <div class="section">
          <div id="section-bar">
            <fa-icon class="edit-button" [icon]="faEdit"></fa-icon>
            <h3>Battle Stats</h3>
          </div>
        </div>
      </div>
      <div class="row" style="height: 70%;">
        <div class="section">
          <div id="section-bar">
            <fa-icon class="edit-button" [icon]="faEdit"></fa-icon>
            <h3>Other Info</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
