.title-text
  font-family: 'Roboto Slab', serif
  text-align: center
  border-bottom: 2px solid
  width: max-content
  margin-right: auto
  margin-left: auto
  margin-top: 15px

.create-character
  cursor: pointer
  width: max-content
  margin-left: auto
  margin-right: 12px
  font-family: 'Montserrat', sans-serif
  padding: 7px
  border-radius: 15px
  transition: all 0.5s
  background-color: #0e1b48
  &:hover
    box-shadow: 0px -4px 8px rgb(13, 214, 214), 8px 0px 16px rgb(13, 214, 214), 0px 4px 8px rgb(13, 214, 214), -8px 0px 16px rgb(13, 214, 214)
    transform: translateY(-2px)


.select-character
  font-family: 'Montserrat', sans-serif
  width: max-content

#select-character:hover
  transition: box-shadow 0.2s ease-in-out
  box-shadow: 0px 0px 5px 2px #008cff

.text-info
  font-family: 'Arima', cursive

.health-ball
  border: 2px solid maroon
  margin-left: auto
  margin-right: auto
  margin-top: 15px
  padding-top: 11px
  width: 250px
  height: 150px
  border-radius: 20%
  transition: box-shadow 0.5s
  box-shadow: 0 0 50px #80f, 10px 0 40px #ff0000, -10px 0 40px #0ff

.health-button
  width: 70px
  height: 40px
  border-radius: 5px
  padding: 0px

.low-health
  animation-name: flash
  animation-duration: var(--duration)
  animation-iteration-count: infinite
  -webkit-animation-name: flash
  -webkit-animation-duration: var(--duration)
  -webkit-animation-iteration-count: infinite


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
  -webkit-appearance: none
  margin: 0

/* Firefox */
input[type=number]
  -moz-appearance: textfield

h3
  font-family: 'Montserrat', sans-serif
  border: 3px solid #20075a
  border-radius: 10px
  margin-bottom: 18px
  box-shadow: 0.3em 0.3em 1em rgba(0,0,0,0.3)
  transition: border 0.5s
  &:hover
    border: 3px solid #3c09b3
    cursor: pointer

h6
  background-color: #30115e
  border-radius: 10px
  font-family: 'Montserrat', sans-serif
  font-size: 18px

#section-bar:hover .edit-button
  animation-name: bounce
  animation-duration: 1s
  animation-iteration-count: 1
  -webkit-animation-name: bounce
  -webkit-animation-duration: 1s
  -webkit-animation-iteration-count: 1

.section
  text-align: center
  position: relative

.curtains
  border-radius: 30%
  border-bottom: 4px solid #3d246b
  font-family: 'Oswald', sans-serif
  font-size: 20px

.edit-button
  cursor: pointer
  position: absolute
  right: 20px
  top: 7px

.scrollable
  overflow-y: scroll
  overflow-x: hidden

.attacks .card
  font-family: 'Ibarra Real Nova', serif

.attacks .card-header
  font-size: 18px
  border-bottom: 2px solid #3b1769

.attacks .card-text
  font-size: 13px

.attack-name
  font-family: 'Kanit', sans-serif

.convert-button
  width: 40%
  border-radius: 10px 0px 0px 10px

.toggle-electrum
  width: 60%
  border-radius: 0px 10px 10px 0px

.currency-title
  border-radius: 50% 50% 0% 0%
  border: 2px solid #30115e
  border-bottom: 0px
  width: 95%
  font-family: 'Ibarra Real Nova', serif

.convert
  cursor: pointer
  transform: all 0.2s ease-in-out
  &:hover
    color: royalblue
    transform: scale(1.2)

.equipment
  color: #1ba1f5
  font-family: 'Arima', cursive
  background-color: #30115e


/* width */
::-webkit-scrollbar
  width: 5px

/* Track */
::-webkit-scrollbar-track
  background: #270c4e

/* Handle */
::-webkit-scrollbar-thumb
  background: #500baf

/* Handle on hover */
::-webkit-scrollbar-thumb:hover
  background: #460c97


@-webkit-keyframes bounce
  0%,
  100%,
  20%,
  50%,
  80%
    -webkit-transform: translateY(0)
    -ms-transform: translateY(0)
    transform: translateY(0)
  40%
    -webkit-transform: translateY(-15px)
    -ms-transform: translateY(-15px)
    transform: translateY(-15px)
  60%
    -webkit-transform: translateY(-7px)
    -ms-transform: translateY(-7px)
    transform: translateY(-7px)

@keyframes bounce
  0%,
  100%,
  20%,
  50%,
  80%
    -webkit-transform: translateY(0)
    -ms-transform: translateY(0)
    transform: translateY(0)
  40%
    -webkit-transform: translateY(-15px)
    -ms-transform: translateY(-15px)
    transform: translateY(-15px)
  60%
    -webkit-transform: translateY(-7px)
    -ms-transform: translateY(-7px)
    transform: translateY(-7px)

@-webkit-keyframes shake
  0%,
  100%,
  80%
    -webkit-transform: rotate(0deg)
    -ms-transform: rotate(0deg)
    transform: rotate(0deg)
  10%,
  50%
    -webkit-transform: rotate(-10deg)
    -ms-transform: rotate(-10deg)
    transform: rotate(-10deg)
  30%
    -webkit-transform: rotate(10deg)
    -ms-transform: rotate(10deg)
    transform: rotate(10deg)

@keyframes shake
  0%,
  100%,
  80%
    -webkit-transform: rotate(0deg)
    -ms-transform: rotate(0deg)
    transform: rotate(0deg)
  10%,
  50%
    -webkit-transform: rotate(-10deg)
    -ms-transform: rotate(-10deg)
    transform: rotate(-10deg)
  30%
    -webkit-transform: rotate(10deg)
    -ms-transform: rotate(10deg)
    transform: rotate(10deg)

@-webkit-keyframes flash
  0%,
  100%,
  30%,
  60%,
  90%
    box-shadow: 0 0 50px #80f, 10px 0 40px #ff0000, -10px 0 40px #0ff
  40%,
  70%
    box-shadow: 0 0 50px #b0f, 10px 0 40px #ff0000, -10px 0 40px #3ff

@keyframes flash
  0%,
  100%,
  30%,
  60%,
  90%
    box-shadow: 0 0 50px #80f, 10px 0 40px #ff0000, -10px 0 40px #0ff
  40%,
  70%
    box-shadow: 0 0 50px #b0f, 10px 0 40px #ff0000, -10px 0 40px #3ff


