.active
  padding: 0px 0px
  margin: 8px 0px
  border-bottom: 2px solid white

.git-link
  text-decoration: none
  color: white
  opacity: 0.8
  transition: opacity 0.2s ease-in-out
  &:hover
    opacity: 1

#component
  overflow-x: hidden
  overflow-y: scroll

/* width */
::-webkit-scrollbar
  width: 15px

/* Track */
::-webkit-scrollbar-track
  background: #102556

/* Handle */
::-webkit-scrollbar-thumb
  background: #6d3eaa

/* Handle on hover */
::-webkit-scrollbar-thumb:hover
  background: #4d287e
