<div class="row mx-0">
  <div class="row mx-0 card-container">
    <div class="col-2 change-buttons">
      <div class="prev-button" [ngClass]="{'hoverable': this.charIndex !== 0}" (click)="prevCharacter()"><fa-icon [icon]="faPrev"></fa-icon></div>
    </div>
    <div class="character-card" [ngClass]="{'hoverable': this.charIndex === i}" id="character{{i}}" *ngFor="let character of characters; let i = index">
      <h1 class="character-name mt-5">{{character.name}}</h1>
      <h3 class="character-info mb-3">Lvl {{character.level}} {{character.class}}</h3>
      <h4 class="select-char mx-auto mb-0" (click)="selectCharacter(i)">
        <div class="h-mc">Select Character</div>
      </h4>
      <h4 class="delete-char mx-auto mb-0" (click)="deleteCharacter(i)">
        <div class="h-mc">Delete Character</div>
      </h4>
    </div>
    <div class="no-characters" *ngIf="this.characters.length < 1" @fadeInBottom>Empty. Just like my 5th Birthday Party...</div>
    <div class="col-2 offset-8 change-buttons">
      <div class="next-button" [ngClass]="{'hoverable': this.charIndex < (this.characters.length - 1)}" (click)="nextCharacter()"><fa-icon [icon]="faNext"></fa-icon></div>
    </div>
  </div>
  <div class="row mx-0 text-center" style="min-height: 36px;">
    <div class="col-6" *ngIf="this.characters.length < 1" @fadeInTop>
      <div class="arrow"><fa-icon [icon]="faDownArrow"></fa-icon></div>
    </div>
  </div>
  <div class="row mx-0 text-center">
    <div class="col-6">
      <button class="btn btn-outline-primary" routerLink="/new-character">Create Character</button>
    </div>
    <div class="col-6">
      <button class="btn btn-outline-secondary" routerLink="/info-sheet">Back</button>
    </div>
  </div>
</div>


